---
import LayoutBack from "../../layouts/LayoutBack.astro";
import FotoCard from "../../components/FotoCard.astro";
---

<LayoutBack url="../gallery" title="zurück">
   <h2>Analoge Fotografie</h2>
   <div class="cardContainer">
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
      <FotoCard url="/images/brett_2.webp" external={false} />
   </div>
</LayoutBack>
