---
import LayoutBack from "../../layouts/LayoutBack.astro";
import FotoCard from "../../components/FotoCard.astro";
---

<LayoutBack url="gallery/gallery-foto-kamera" title="zurück">
   <main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
      <h2>Werkstattbilder</h2>
      <div class="cardContainer">
         <FotoCard url="/images/timan-1.webp" external={false} />
         <FotoCard url="/images/timan-2.webp" external={false} />
         <FotoCard url="/images/timan-3.webp" external={false} />
         <FotoCard url="/images/timan-4.webp" external={false} />
         <FotoCard url="/images/timan-5.webp" external={false} />
         <FotoCard url="/images/timan-6.webp" external={false} />
      </div>
   </main>
</LayoutBack>
