---
import LayoutBack from "../../layouts/LayoutBack.astro";
import FotoCard from "../../components/FotoCard.astro";
---

<main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
   <LayoutBack url="gallery/gallery-kartonmodelle" title="zurück">
      <h2>Motor</h2>
      <div class="cardContainer">
         <FotoCard url="/images/f312b/01-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/02-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/03-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/04-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/05-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/06-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/07-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/08-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/09-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/10-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/11-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/12-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/13-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/14-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/15-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/16-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/17-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/18-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/19-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/20-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/21-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/22-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/23-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/24-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/25-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/26-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/27-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/28-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/29-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/30-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/31-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/32-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/33-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/34-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/35-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/36-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/37-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/38-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/39-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/40-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/41-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/42-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/43-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/44-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/45-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/46-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/47-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/48-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/49-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/50-F312b.jpg" external={false} />
         <FotoCard url="/images/f312b/67-F312b.jpg" external={false} />
      </div>
   </LayoutBack>
</main>
