---
import LayoutBack from "../../layouts/LayoutBack.astro";
import FotoCard from "../../components/FotoCard.astro";
---

<LayoutBack url="gallery/gallery-kartonmodelle" title="zurück">
   <h2>Hesketh 308B</h2>
   <div class="cardContainer">
      <FotoCard url="/images/hesketh/01_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/02_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/03_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/04_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/05_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/06_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/07_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/08_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/09_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/10_hesk.webp" external={false} />
      <FotoCard url="/images/hesketh/11_hesk.webp" external={false} />
   </div>
</LayoutBack>
