---
import LayoutBack from "../../layouts/LayoutBack.astro";
import FotoCard from "../../components/FotoCard.astro";
---

<LayoutBack url="gallery/gallery-kartonmodelle" title="zurück">
   <h2>Matra MS80</h2>
   <div class="cardContainer">
      <FotoCard url="/images/matra/01_ma.webp" external={false} />
      <FotoCard url="/images/matra/02_ma.webp" external={false} />
      <FotoCard url="/images/matra/03_ma.webp" external={false} />
      <FotoCard url="/images/matra/04_ma.webp" external={false} />
      <FotoCard url="/images/matra/05_ma.webp" external={false} />
      <FotoCard url="/images/matra/06_ma.webp" external={false} />
      <FotoCard url="/images/matra/07_ma.webp" external={false} />
      <FotoCard url="/images/matra/08_ma.webp" external={false} />
      <FotoCard url="/images/matra/09_ma.webp" external={false} />
      <FotoCard url="/images/matra/10_ma.webp" external={false} />
      <FotoCard url="/images/matra/11_ma.webp" external={false} />
      <FotoCard url="/images/matra/12_ma.webp" external={false} />
      <FotoCard url="/images/matra/13_ma.webp" external={false} />
      <FotoCard url="/images/matra/14_ma.webp" external={false} />
   </div>
</LayoutBack>
