---
import Layout from "../layouts/Layout.astro";
import SiteImage from "../components/SiteImage.astro";
import Card from "../components/Card.astro";
---

<Layout>
   <SiteImage url="/images/tools.webp" />
   <div class="cardContainer">
      <Card
         style="background-color: #191919"
         url1="/images/015_wall.webp"
         url2="../hobby/lenkdrachen"
         title1="Lenkdrachen"
         title2="Was ist das?"
         title3="mehr"
         external={false}
         title4="Fr 26.Januar 2024"
      />
      <Card
         url1="/images/brett_2.webp"
         url2="https://youtu.be/C97kMKwZ2-g"
         title1="Theo Jansen"
         title2="Ein Tüftler der es einfach ausprobiert"
         title3="Film"
         external={true}
         title4="Mo 01.Januar 2024"
      />
      <Card
         url1="/images/brett_2.webp"
         url2="https://youtu.be/s4IgI9p23Wo"
         title1="Luca"
         title2="Ein Modellbau Künstler"
         title3="Film"
         external={true}
         title4="Mo 01.Januar 2024"
      />
      <Card
         url1="/images/brett_2.webp"
         url2="../hobby/analoge-kamera"
         title1="Analoge Foto Kamera"
         title2="Und wie durch ein Wunder.."
         title3="mehr"
         external={false}
         title4="Mo 01.Januar 2024"
      />
      <Card
         url1="/images/brett_2.webp"
         url2="../hobby/erste-webseite"
         title1="Meine erste Webseite"
         title2="Warum das geht und was es braucht"
         title3="mehr"
         external={false}
         title4="Mo 05.Januar 2024"
      />
   </div>
</Layout>
