---
import Layout from "../layouts/Layout.astro";
import SiteImage from "../components/SiteImage.astro";
import CardOhne from "../components/CardOhne.astro";
---

<Layout>
   <div class="wrapper">
      <aside class="links"></aside>
      <section class="mitte">
         <SiteImage url="/images/burdi-1.webp" />
         <div class="cardContainer">
            <div class="card text-center max-h-[240px] overflow-y-scroll">
               <p class="text-base p-[8px]">
                  <span class="text-[#d47800] italic">Glaubt Gott!</span><br />
                  <span class="text-[14px]"
                     >Denn wahrlich ich sage euch:<br /> Wer zu diesem Berg spricht:<br
                     />
                     "Hebe dich und wirf dich ins Meer!"<br /> und nicht zweifelt
                     in seinem Herzen,<br />
                     sondern glaubt dass geschieht<br /> was er sagt,<br /> dem wird
                     es werden,<br />
                     was auch immer er sagt. <br /></span
                  ><i class="text-[#11a3c7] text-[10px]"
                     >Markus 11,22+23 (NTR)</i
                  >
               </p>
               <div class="datum">Di 05 November 2024</div>
            </div>
            <CardOhne
               url="https://www.youtube.com/watch?v=q8OnEcpPmLw"
               title1="Oskar Salomon"
               title2="Heil-Meditation"
               title3="Film"
               external={true}
               title4="Di 05.November 2024"
            />
            <CardOhne
               url="https://vimeo.com/ondemand/freivonschmerz"
               title1="Dr. John Sarno"
               title2="Frei von Schmerz, auch als Buch erhältlich"
               title3="Film"
               external={true}
               title4="Di 05.November 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=lJB_gSF0vsU"
               title1="Sinead O'Connor"
               title2="Thank You"
               title3="Film"
               external={true}
               title4="Mi 13.März 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=AMshi2aS3-o"
               title1="Alanis Morissette"
               title2="Incomplete"
               title3="Film"
               external={true}
               title4="Fr 26.Januar 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=aZwSAXh074s&list=PLVHc-ip5c9Xli1l940SPQZlE5V-enh1XJ"
               title1="Martina Schwarzmann"
               title2="Haushaltsopfer"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=2CETGjsvWu4"
               title1="Peter Fox"
               title2="Weiße Fahnen"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
         </div>
      </section>
      <aside class="rechts">
         <img src="/images/flower-3-c.png" alt="" class="top-[180px]" />
      </aside>
   </div>
</Layout>
