---
import Layout from "../layouts/Layout.astro";
import SiteImage from "../components/SiteImage.astro";
import Card from "../components/Card.astro";
---

<Layout>
   <div class="wrapper">
      <aside class="links"></aside>
      <section class="mitte">
         <SiteImage url="/images/buddha.webp" />
         <div class="cardContainer">
            <Card
               url1="/images/brett_2.webp"
               url2="../sadsang/krishnamurti"
               title1="Krishnamurti"
               title2="Beenden des Leids"
               title3="mehr"
               external={false}
               title4="Fr 8.März 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="https://youtu.be/sWpQ8nyoPeU"
               title1="Gangaji & Eli Jaxon-Bear"
               title2="Es ist möglich, für jeden"
               title3="Film"
               external={true}
               title4="Mi 28.Februar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="https://youtu.be/YJvlnY29PZo"
               title1="Papaji"
               title2="Es ist so einfach..."
               title3="Film"
               external={true}
               title4="Mi 28.Februar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="https://mooji.org/satsangs/the-purest-truth"
               title1="Mooji"
               url1="/images/brett_2.webp"
               url2="../sadsang/natur"
               title1="Natur"
               title2="Inspirierndes"
               title3="mehr"
               external={false}
               title4="Mi 14.Februar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="../sadsang/circleway"
               title1="Circleway"
               title2="Inspirierndes"
               title3="mehr"
               external={false}
               title4="So 28.Januar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="https://www.youtube.com/watch?v=AbgHfU7iG-M"
               title1="Jai Uttal"
               title2="Ram Ram Ram"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="https://www.youtube.com/watch?v=O4EpkmNCAiA"
               title1="Krishna Das"
               title2="Peace of my Heart"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="../sadsang/before"
               title1="You are here before"
               title2="Stell dir vor du kommst in einen Raum"
               title3="mehr"
               external={false}
               title4="Mo 01.Januar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="/sadsang/zeig-mir-gott"
               title1="Zeige mir Gott"
               title2="In diesem Film fragt ein Mann"
               title3="mehr"
               external={false}
               title4="Mo 01.Januar 2024"
            />
         </div>
      </section>
      <aside class="rechts">
         <div class="cardtext">
            <p>
               "Gott wird helfen,<br />so der Mensch daran glaubt,<br />so er
               den guten,<br />den göttlichen Willen hat,<br />in dem zu leben
               er ja bestimmt ist, und so er den Glauben an Gott nicht verliert,<br
               />und Gott hilft ihm,<br />glaube er nur!"<br />
               <i class="text-[14px]">(Bruno Gröning)</i>
            </p>
         </div>
         <div class="cardtext">
            <p>
               Dieser Gesprächs-Auszug<br />behandelt das unbewußte
               Fehlverhalten des Verstandes, nervös und rastlos zu werden,<br />
               wenn im Außen die Dinge ruhig und harmlos sind und nichts Interessantes
               passiert,<br /> weshalb er unbewußt Widerstand aufbaut und dadurch
               unfähig wird, die Schönheit dieses Momentes zu genießen und zuzulassen.
               <br /> Dieser Rastlosigkeit des Verstandes Aufmerksamkeit zu schenken,
               bei ihr zu verweilen und sie mit unschuldiger Neugier und Interesse
               zu beobachten statt dem Impuls nachzugeben und vor ihr durch Drogen,
               Unterhaltung oder Arbeit zu fliehen, ist der Schlüssel zur Beendung
               des Leids.<br /><i class="text-[14px]">(Krishnamurti)</i>
            </p>
         </div>
      </aside>
   </div>
</Layout>
