---
import Layout from "../layouts/Layout.astro";
import SiteImage from "../components/SiteImage.astro";
import CardOhne from "../components/CardOhne.astro";
---

<Layout>
   <div class="wrapper">
      <aside class="links"></aside>
      <section class="mitte">
         <SiteImage url="/images/buddha.webp" />
         <div class="cardContainer">
            <CardOhne
               url="https://www.youtube.com/watch?v=CcXd8tMsnko"
               title1="Frieden und Gewalt"
               title2="Daniele Ganser und Willi Maurer"
               title3="Film"
               external={true}
               title4="So 24.März 2024"
               style2="padding-left: 40px; padding-right: 40px;"
            />
            <CardOhne
               url="https://www.wildnisschule-waldkauz.de/truthspeaking-die-sprache-des-herzens/"
               title1="Truthspeaking"
               title2="Sprache des Herzens"
               title3="mehr"
               external={true}
               title4="Do 21.März 2024"
            />
            <div class="card text-center max-h-[240px] overflow-y-scroll">
               <p class="text-base p-[8px]">
                  <span class="text-[#d47800] italic">Imprinting</span><br />Bei
                  der Geburt wurden wir getrennt von der Mutter. Ohne Imprinting
                  fehlt uns die Zugehörigkeit. Ein Trauma, eine Ohnmacht
                  entstand die wir unterdrückten um zu überleben. Ein ganzes
                  Leben schon vermeiden wir unbewußt dieses Ohnmachtsgefühl und
                  suchen, ebenfalls unbewußt, nach der Mutter, nach dem Gefühl
                  von Sicherheit und Verbundenheit. Um dieses Trauma aufzulösen
                  lernen wir bewußt dieses Ohnmachtsgefühl, diese Hilflosigkeit
                  und Angst, immer mehr zu fühlen und zu integrieren. Die
                  Gefühls-und Körperarbeit nach Willi Maurer ist ein Weg in die
                  Freiheit. Wir befreien unsere gefesselte Macht und haben
                  wieder Freude am kreativen gestalten des Lebens. Die
                  Verbundenheit zum Universum wird sichtbar.
               </p>
               <div class="datum">Do 21.März 2024</div>
            </div>
            <CardOhne
               url="https://youtu.be/esdKw1Uehks"
               title1="Verantwortung für das eigene Leben"
               title2="Bastian Barucker mit Willi Maurer"
               style2="margin:0 40px"
               title3="Film"
               external={true}
               title4="Do 21.März 2024"
            />
            <CardOhne
               url="https://www.youtube.com/channel/UCalc9scfRJ_JtRFVUpN3rmw"
               title1="gemeinsam wachsen"
               title2="Willi Maurer"
               title3="mehr"
               external={true}
               title4="Do 21.März 2024"
            />
            <CardOhne
               url="../sadsang/krishnamurti"
               title1="Krishnamurti"
               title2="Beenden des Leids"
               title3="mehr"
               external={false}
               title4="Fr 8.März 2024"
            />
            <CardOhne
               url="https://youtu.be/sWpQ8nyoPeU"
               title1="Gangaji & Eli Jaxon-Bear"
               title2="Es ist möglich, für jeden"
               title3="Film"
               external={true}
               title4="Mi 28.Februar 2024"
            />
            <CardOhne
               url="https://youtu.be/YJvlnY29PZo"
               title1="Papaji"
               title2="Es ist so einfach..."
               title3="Film"
               external={true}
               title4="Mi 28.Februar 2024"
            />
            <CardOhne
               url="https://mooji.org/satsangs/the-purest-truth"
               title1="Mooji"
               title2="Vor diesem ich existiere-Gefühl bin ich"
               title3="Film"
               external={true}
               title4="Mi 28.Februar 2024"
            />
            <CardOhne
               url="../sadsang/natur"
               title1="Natur"
               title2="Inspirierndes"
               title3="mehr"
               external={false}
               title4="Mi 14.Februar 2024"
            />
            <CardOhne
               url="../sadsang/circleway"
               title1="Circleway"
               title2="Der Weg des Kreises"
               title3="mehr"
               external={false}
               title4="So 28.Januar 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=AbgHfU7iG-M"
               title1="Jai Uttal"
               title2="Ram Ram Ram"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=O4EpkmNCAiA"
               title1="Krishna Das"
               title2="Peace of my Heart"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
            <CardOhne
               url="../sadsang/before"
               title1="You are here before"
               title2="Stell dir vor du kommst in einen Raum"
               title3="mehr"
               external={false}
               title4="Mo 01.Januar 2024"
            />
            <CardOhne
               url="/sadsang/zeig-mir-gott"
               title1="Zeige mir Gott"
               title2="In diesem Film fragt ein Mann"
               title3="mehr"
               external={false}
               title4="Mo 01.Januar 2024"
            />
         </div>
      </section>
      <aside class="rechts">
         <div class="cardtextA">
            <p>
               "Erlernte Hilflosigkeit ist die aufgrund negativer Erfahrung
               entwickelte Überzeugung, die Fähigkeit zur Veränderung der
               eigenen Lebenssituation verloren zu haben und für diesen Zustand
               selbst verantwortlich zu sein."<br />
               <i class="text-[14px]"> (Wikipedia)</i>
            </p>
         </div>
         <div class="cardtextA">
            <p>
               „Das von Geburt an zum Gehorsam und zur Unterwerfung gezwungene
               Kind fügt sich schließlich den Willen Anderer und gibt seine
               Individualität und auch eigene Gefühlswelt auf. Ein solch
               geprägter Mensch ist ein perfekter Befehlsempfänger, Untertan,
               Gläubiger oder weitergedacht Soldat.“<br />
               <i class="text-[14px]">
                  (Sven Fuchs in “Die Kindheit ist politisch!”)</i
               >
            </p>
         </div>
         <div class="cardtextA">
            <p>
               "Gott wird helfen,<br />so der Mensch daran glaubt,<br />so er
               den guten,<br />den göttlichen Willen hat,<br />in dem zu leben
               er ja bestimmt ist, und so er den Glauben an Gott nicht verliert,<br
               />und Gott hilft ihm,<br />glaube er nur!"<br />
               <i class="text-[14px]">(Bruno Gröning)</i>
            </p>
         </div>
         <div class="cardtextA">
            <p>
               Dieser Gesprächs-Auszug<br />behandelt das unbewußte
               Fehlverhalten des Verstandes, nervös und rastlos zu werden,<br />
               wenn im Außen die Dinge ruhig und harmlos sind und nichts Interessantes
               passiert,<br /> weshalb er unbewußt Widerstand aufbaut und dadurch
               unfähig wird, die Schönheit dieses Momentes zu genießen und zuzulassen.
               <br /> Dieser Rastlosigkeit des Verstandes Aufmerksamkeit zu schenken,
               bei ihr zu verweilen und sie mit unschuldiger Neugier und Interesse
               zu beobachten statt dem Impuls nachzugeben und vor ihr durch Drogen,
               Unterhaltung oder Arbeit zu fliehen, ist der Schlüssel zur Beendung
               des Leids.<br /><i class="text-[14px]">(Krishnamurti)</i>
            </p>
         </div>
      </aside>
   </div>
</Layout>
