---
import SiteImage from "../../components/SiteImage.astro";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
   <main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
      <SiteImage url="/images/camera-macro.webp" style="margin-bottom:12px" />
      <h2>MitFilm</h2>
      <h3>Fotografie</h3>
      <div class="cardContainer">
         <Card
            url1="/images/brett_2.webp"
            url2="https://www.om-labor.de/"
            title1="OM-Labor"
            title2="Service"
            title3="mehr"
            external={true}
            title4="Do 21.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://www.digicammuseum.de/gechichten/erfahrungsberichte/2022-50-jahre-olympus-om-analogsystem-c-zahn/"
            title1="Das Olympus OM-System"
            title2="Bericht"
            title3="mehr"
            external={true}
            title4="Mi 20.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://forum.aphog.com/"
            title1="APHOG"
            title2="Forum"
            title3="mehr"
            external={true}
            title4="Mi 20.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://www.youtube.com/watch?v=0B3PfH602zo"
            title1="Gerard Wiener"
            title2="ein Original"
            title3="Film"
            external={true}
            title4="Mi 13.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://onfilmlab.de/"
            title1="OnFilmLab"
            title2="entwickeln"
            title3="mehr"
            external={true}
            title4="Mo 11.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://analoge-fotografie.net/"
            title1="Infoseite"
            title2="Analoge-Fotografie"
            title3="mehr"
            external={true}
            title4="Mo 11.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="http://www.om-doktor.de/"
            title1="OM-Doktor"
            title2="Frank Timmann"
            title3="mehr"
            external={true}
            title4="Mo 11.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://www.kameradoktor.de/"
            title1="Kameradoktor"
            title2="Viktor Hälke"
            title3="mehr"
            external={true}
            title4="Mo 11.März 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="/hobby/analoge-kamera"
            title1="Analoge Foto Kamera"
            title2="Die Olympus OM2n"
            title3="mehr"
            external={false}
            title4="Mo 01.Januar 2024"
         />
      </div>
   </main>
</Layout>
